.modalC {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    z-index:999999;
    background: rgba(0, 0, 0, 0.644);
}
.modalC .modalC-content{
    width: 100%;
    max-width: 500px;
    color: black;
}
.modalC .modalC-header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;

}
.modalC-title i{
    height: 45px;
    width: 55px;
    margin-top: 10px;
    margin-left: 220px;
    color: rgb(2, 0, 145);
}
.modalC-title i:hover{
    opacity: 0.75;
    cursor: pointer;
}
.modalC-title{
    font-size: 24px;
    font-weight: 200;
    color: black;
}
.modalC .modalC-Empl{
    background-color: rgb(255, 255, 255);
}
.modalC .modalC-Empl span{
    padding: 20px;
}
.modalC .modalC-container{
    padding: 32px;
    border-radius: 0 0 4px 4px;
    background-color: rgb(255, 255, 255);
}
.btn{
    margin: 20px 100px;
    background-color: rgba(0, 56, 108, 0.966);
}