*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*
.topba{
    position: fixed;
    color:rgb(20, 46, 71);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 10% 10% 10% 65% 0% 5%;
    align-items: center;
    z-index: 1;
}
*/
.font-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user{
    margin-top: 5px;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 510px;
}
.user img{
    position: absolute;
    top: 7px;
    left: 0;
    object-fit: cover;
}
.input-group{
    position: relative;
    width: 30%;
    margin-left: 100px;
}
.mat-toolbar {
    padding: 2%;
    color: aliceblue;
    background-color: #0f354e;
}
a{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.mat-button{
    position: relative;
    left: 5%;
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
label{
    margin-left: 30px;
    position: absolute;
    font-size: medium;
    font-family: sans-serif;
    top: 5px;
}