<mat-toolbar class="toolbar__T">
  <div class="logo">
    <span class="material-icons">currency_exchange</span>
    <span>
      <a>ContSN</a>
    </span>
  </div>
  
  <div class="user">
    <img
      src="https://thumbs.dreamstime.com/b/joven-mujer-sonriendo-de-amarillo-retrato-una-feliz-que-muestra-sonrisa-tososa-con-ropa-blanca-casual-contra-fondo-color-espacio-184545315.jpg"
      width="25px"
      alt="user"
    />
    <a routerLink="/perfil" for="">Carolina Polanco</a>
  </div>
</mat-toolbar>
