*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    position: relative;
    height: 100%;
    margin-right:  1000px;
}
.logo a {
    position: absolute;
    left: 25px;
    margin-top: -2px;
}
/*
.topba{
    position: fixed;
    color:rgb(20, 46, 71);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 10% 10% 10% 65% 0% 5%;
    align-items: center;
    z-index: 1;
}
*/
.user{
    margin-top: 5px;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.user img{
    position: absolute;
    top: 7px;
    left: 0;
    object-fit: cover;
}

.mat-toolbar {
    padding: 2%;
    color: aliceblue;
    background-color: #0f354e;
}

.mat-button{
    position: relative;
    left: 5%;
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
label{
    margin-left: 30px;
    position: absolute;
    font-size: medium;
    font-family: sans-serif;
    top: 5px;
}