<h3 class="titles">PANEL DE CONTROL</h3>
<div class="main">
  <div class="cards">
    <div class="card">
      <div class="icon-box">
        <i class="material-symbols-outlined">group</i>
      </div>
      <div class="card-content">
        <div class="number">2664</div>
        <div class="card-name">Total empleados</div>
      </div>
    </div>
    <div class="card">
      <div class="icon-box">
        <i class="material-symbols-outlined">request_quote</i>
      </div>
      <div class="card-content">
        <div class="number">646</div>
        <div class="card-name">Nominas Pendientes</div>
      </div>
    </div>
    <div class="card">
      <div class="icon-box">
        <i class="material-symbols-outlined">event_available</i>
      </div>
      <div class="card-content">
        <div class="number">264</div>
        <div class="card-name">Proximo día de pago</div>
      </div>
    </div>
    <div class="card">
      <div class="icon-box">
        <i class="material-symbols-outlined">receipt_long</i>
      </div>
      <div class="card-content">
        <div class="number">46</div>
        <div class="card-name">Prestaciones pendientes</div>
      </div>
      
    </div>
  </div>
  <div class="charts">
    <div class="chart">
      <h2 class="sub-title">Grafico de rendimiento</h2>
      <canvas id="myChart"></canvas>
    </div>
    <div class="chart sub-title" id="empleados-chart">Empleados</div>
  </div><!--Estadistica-->

</div>
