.btn {
    margin-left: 20px;
}
.title{
    text-align: justify; 
}
.position-button{
    text-align: center;
    color: rgb(27, 27, 95);
    height: 100%;
    margin: 0;
}
.margen{
    margin: 10px 0;
}
form{
    width: 100%;
    padding: 10px;
}
