<div class="modalC">
    <div class="modalC-content">
      <div class="modalC-header">
        <div class="modalC-title">
          <span class="titles2">Nuevo Usuario</span>
          <i class="material-symbols-outlined">close</i>
        </div>
      </div>
      <div class="modalC-container card">
        <form class="row">
            <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Nombre</label>
                <input type="text" class="form-control" placeholder="Oscarina" />
              </div>
              <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ej. Tejada"
                />
              </div>
              <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Usuario</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ej. oscatj"
                />
              </div>
              <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Puesto</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ej. Gerente de Ventas"
                />
              </div>
              <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Rol</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ej. Administrador"
                />
              </div>
              <div class="col-3 margen">
                <label for="validationCustom03" class="form-label">Estado</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>
        </form>
        <button
            class="btn btn-primary"
            routerLink="/"
            >GUARDAR
          </button>
      </div>
    </div>
  </div>
