<div class="card margin__div">
  <form class="row">
    <h3 class="titles2">Datos laborales</h3>
    <hr />
    <div class="col-3 margen">
      <label class="form-label">Fecha de ingreso</label>
      <input type="date" class="form-control" />
    </div>
    <div class="col-3 margen">
      <label class="form-label">Departamento</label>
      <select class="form-select">
        <option selected disabled value="">Elija una opcion</option>
        <option>Alta Gerencia</option>
        <option>Cobro</option>
        <option>Servicios</option>
        <option>Contabilidad</option>
      </select>
    </div>
    <div class="col-3 margen">
      <label class="form-label">Cargo</label>
      <select class="form-select">
        <option selected disabled value="">Elija una opcion</option>
        <option>Gerente</option>
        <option>Gestor de cobro</option>
        <option>Mensajero</option>
      </select>
    </div>
    <div class="col-3 margen">
      <label class="form-label">Horario</label>
      <select class="form-select">
        <option selected disabled value="">Elija una opcion</option>
        <!--T-TR es Tanda Turno regular y T-TI es tanda turno irregular-->
        <option>T-TR 1</option>
        <option>T-TR 2</option>
        <option>T-TR 3</option>
        <option>T-TI 1</option>
        <option>T-TI 2</option>
        <option>T-TI 3</option>
      </select>
    </div>
    <h1 class="sub-title">Cuenta de banco:</h1>
    <div class="col-3 margen">
      <label class="form-label">Nombre Cta. Banco</label>
      <select class="form-select">
        <option selected disabled value="">Elija una opcion</option>
        <option>BHD</option>
        <option>BSC</option>
        <option>BPD</option>
        <option>BRD</option>
      </select>
    </div>
    <div class="col-4 margen">
      <label class="form-label">No. Cta. Banco</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-3 margen">
      <label class="form-label">Tipo de cta</label>
      <select class="form-select">
        <option selected disabled value="">Elija una opcion</option>
        <option>Ahorro</option>
        <option>Corriente</option>
      </select>
    </div>
    <div class="col-12">
      <button
        class="btn btn-secondary float-start"
        routerLink="/app-datos-contacto"
      >
        VOLVER
      </button>
      <button class="btn btn-primary float-end">REGISTRAR EMPLEADO</button>
    </div>
  </form>
</div>
