<div class="card margin__div">
  <form class="row" [formGroup]="formDatosLaborales">
    <h3 class="titles2">Datos laborales</h3>
    <hr />
    <div class="col-3 margen">
      <label class="form-label" for="fechaIngreso">Fecha de ingreso</label>
      <input
       type="date" 
       class="form-control" 
       id="fechaIngreso"
       formControlName="fechaIngreso"/>
    </div>
    <div class="col-3 margen">
      <label class="form-label" for="departamento">Departamento</label>
      <select
       class="form-select"
       id="departamento"
       formControlName="departamento">
        <option *ngFor="let d of departamentos" [ngValue]="d">{{d}}</option>
      </select>
    </div>
    <div class="col-3 margen">
      <label
       class="form-label" for="cargo">Cargo</label>
      <select
       class="form-select"
       id="cargo"
       formControlName="cargo">
        <option *ngFor="let c of cargos" [ngValue]="c"> {{c}}</option>
      </select>
    </div>
    <div class="col-3 margen">
      <label class="form-label" for="horario">Horario</label>
      <select
       class="form-select"
       id="horario"
       formControlName="horario">
        <option *ngFor="let h of horarios" [ngValue]="h">{{h}}</option>
      </select>
    </div>
    <h1 class="sub-title">Cuenta de banco:</h1>
    <div class="col-3 margen">
      <label class="form-label" for="nombreCta">Nombre Cta. Banco</label>
      <select
       class="form-select"
       id="nombreCta"
       formControlName="nombreCta">
        <option *ngFor="let n of nombresCtas" [ngValue]="n">{{n}}</option>
      </select>
    </div>
    <div class="col-4 margen">
      <label class="form-label" for="noCta">No. Cta. Banco</label>
      <input
       type="text" 
       class="form-control" 
       id="noCta"
       formControlName="noCta"/>
    </div>
    <div class="col-3 margen">
      <label class="form-label" for="tipoCta">Tipo de cta</label>
      <select
       class="form-select"
       id="tipoCta"
       formControlName="tipoCta">
       <option *ngFor="let t of tiposCtas" [ngValue]="t">{{t}}</option>
      </select>
    </div>
    <div class="col-12">
      <button
        class="btn btn-secondary float-start"
        routerLink="/app-datos-contacto"
      >
        VOLVER
      </button>
      <button
       class="btn btn-primary float-end"
       (click)="agregarDatosLaborales()"
       [disabled]="formDatosLaborales.invalid">COMPLETAR REGISTRO</button>
    </div>
  </form>
</div>
