<div class="titles">
  <h1 class="title">NÓMINA</h1>
  <button type="button" name="imprimir" class="btn btn-success float-end" routerLink="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  </svg>
</button>
<button type="button" name="agregar" class="btn btn-primary float-end" routerLink="/nomina-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
  </svg>
</button>
</div>
<div class="search__nomina">
<mat-form-field appearance="fill">
  <mat-label>Nómina</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value?.[0] || ''}}
      <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Buscar empleado</mat-label>
  <input
   matInput type="search" 
   name="nombre" 
   #myInput/>
  <button matSuffix mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<div class="">
<div class="row">
<div class="col-lg-18">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Cargo</th>
          <th scope="col">Sueldo Base</th>
          <th scope="col">Deducciones</th>
          <th scope="col">Sueldo Neto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody><!--
        <tr *ngFor="let n of nomina">
          <td scope="row">{{ n.id }}</td>
          <td>{{ n.cargo }}</td>
          <td>{{ n.departamento }}</td>
          <td>{{ n.sueldoB | currency: 'RD': 'symbol': '4.2-2'}}</td>
          <td>{{ n.cantHorasE | currency: 'RD': 'symbol': '4.2-2'}}</td>
          <td>{{ n.pHorasE | currency: 'RD': 'symbol': '4.2-2'}}</td>
          <td>{{ n.deducciones | currency: 'RD': 'symbol': '4.2-2'}}</td>
          <td>
            <i class="material-symbols-outlined text-primary" routerLink="/app-actualizar">edit</i>
            <i class="material-symbols-outlined text-danger" (click)="delete(o)">delete</i>
          </td>
        </tr>-->
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
<mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
</mat-paginator>