<h3 class="titles">NOMINAS</h3>
<div class="main">
  <div class="cards">
    <div routerLink="/app-nomina-regular" class="card regular btn">
      <div  class="card-content ">
        <div class="number">Nomina Regular</div>
        <div class="card-name">Semanal, Bisemanal, Quincenal, Mensual </div>
      </div>
    </div>
    <div routerLink="/app-nomina-extraordinaria" class="card extraordinaria btn">
      <div class="card-content ">
        <div class="number">Nomina Extraordinaria</div>
        <div class="card-name">Bonificaciones, Regalías, Vacaciones</div>
      </div>
    </div>
    <div routerLink="/app-nomina-liquidacion" class="card liquidacion btn">
      <div class="card-content ">
        <div class="number">Liquidacion</div>
        <div class="card-name">Desahucio, Dimisión, Renuncia</div>
      </div>
    </div>
  </div>