.title{
    text-align: center; 
    margin-top: 7px;
}

.position-button{
    text-align: center;
    color: rgb(27, 27, 95);
    height: 100%;
    margin: 0;
}
.position-button .btn-secondary{
    margin-right: 790px;  
}
form{
    width: 100%;
    padding: 10px;
}
