<form class="row mt-3card">
  <div class="col-6 margen">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom01"
      placeholder="Ej: Oscarina"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="col-6 margen">
    <label for="validationCustom02" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      placeholder="Ej: Tejada"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="col-6 margen">
    <label for="validationCustom02" class="form-label">Apodo</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      placeholder="Ej: La rubia"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="col-6 margen">
    <label for="validationCustom01" class="form-label">Identificación</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      placeholder="Ej: 001-01945426-4"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="col-md-3 margen">
    <label for="validationCustomUsername" class="form-label"
      >Correo electronico</label
    >
    <div class="input-group has-validation">
      <input
        type="text"
        class="form-control"
        id="validationCustomUsername"
        aria-describedby="inputGroupPrepend"
        required
      />
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
  </div>
  <div class="col-md-3 margen">
    <label for="validationCustom04" class="form-label">Sexo</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Femenino</option>
      <option>Masculino</option>
    </select>
    <div class="invalid-feedback">Please select a valid state.</div>
  </div>
  <div class="col-md-3 margen">
    <label for="validationCustom04" class="form-label">Estado Civil</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Soltero</option>
      <option>Casado</option>
      <option>Divorciado</option>
      <option>Viudo</option>
      <option>Unión libre</option>
    </select>
    <div class="invalid-feedback">Please select a valid state.</div>
  </div>
  <div class="col-3 margen">
    <label for="validationCustom05" class="form-label">Fecha Nacimiento</label>
    <input type="date" class="form-control" id="validationCustom05" required />
    <div class="invalid-feedback">Please provide a valid zip.</div>
  </div>
  <div class="col-12 position-button">
    <button class="btn btn-secondary">Volver</button>
    <button class="btn btn-primary">Siguiente</button>
  </div>
</form>
