<div class="container mt-3">
  <div class="row">
    <div class="col-lg-18">
      <div class="card">
        <h3 class="titles">REGISTRO DE PERSONAS</h3>
        <mat-tab-group>
          <mat-tab label="Datos Personales">
            <app-datos-personales></app-datos-personales>
          </mat-tab>
          <mat-tab label="Datos de contacto">
            <app-datos-contacto></app-datos-contacto>
          </mat-tab>
          <mat-tab label="Datos Laborales">
            <br />
            <app-datos-laborales></app-datos-laborales>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<!--Interpolacion de variables-->
<!--<div (keyup)="0">metodo para repetir cada vez que se manda a llamar una tecla-->
<!--<input #entrada/>-->
<!--{{ entrada.value }}-->
<!--</div>-->
<!--
<br>
<h3 class="center-button">Listado de empleados</h3>
<hr>
<div class=".container-sm">
    <div class="row">
       <div class="col">
         <h5>Codigo</h5>
        </div>
      <div class="col">
        <h5>Nombre</h5>
      </div>
      <div class="col">
        <h5>Apellido</h5>
      </div>
      <div class="col">
        <h5>No. Telefono</h5>
      </div>
      <div class="col">
        <h5>Direccion</h5>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            RG001 
          </div>
        <div class="col">
          Luis 
        </div>
        <div class="col">
          Rodriguez
        </div>
        <div class="col">
          809-215-2525
        </div>
        <div class="col">
            C/ Mama Tingo, #16, Zona Industrial de Herrera
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
            RG002 
          </div>
          <div class="col">
            Luis 
          </div>
          <div class="col">
            Rodriguez
          </div>
          <div class="col">
            809-215-2525
          </div>
          <div class="col">
            C/ Mama Tingo, #16, Zona Industrial de Herrera
          </div>
        </div>
</div>
<hr>
-->
