<div class="modalC">
    <div class="modalC-content">
      <div class="modalC-header">
        <div class="modalC-title">
          <span class="titles2">Nuevo cargo</span>
          <i class="material-symbols-outlined">close</i>
        </div>
      </div>
      <div class="modalC-container card">
        <form class="row">
          <div class="col-6 margen">
            <label for="validationCustom03" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Ej. Enc. Almacen" />
          </div>
          <div class="col-6 margen">
            <label for="validationCustom03" class="form-label">Desripcion</label>
            <textarea
              type="text"
              rows="2"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-6 margen">
            <label for="validationCustom03" class="form-label">Sueldo base</label>
            <input type="text" class="form-control" placeholder="0.00" />
          </div>
          <div class="col-6 margen">
            <label for="validationCustom03" class="form-label">Comentario</label>
            <textarea
              type="text"
              rows="2"
              class="form-control"
            ></textarea>
          </div>
          <div class="col-6 margen">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">Aplica comision?</label>
            </div>
          </div>
        </form>
        <button
            class="btn btn-primary"
            routerLink="/"
            >GUARDAR
          </button>
      </div>
    </div>
  </div>
