/* You can add global styles to this file, and also import other style files */

html, body {height:100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.titles {
    color: #134c72;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}
.sub-title {
    color: #134c72;
    font-size: 18px;
    font-family: sans-serif;
}
