<div class="modalC">
    <div class="modalC-content">
      <div class="modalC-header">
        <div class="modalC-title">
          <span class="titles2">Nueva tanda</span>
          <i class="material-symbols-outlined">close</i>
        </div>
      </div>
      <div class="modalC-container card">
        <form class="row">
            <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Tanda</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Día 1</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>Lunes</option>
                  <option>Martes</option>
                  <option>Miércoles</option>
                  <option>Jueves</option>
                  <option>Viernes</option>
                  <option>Sábado</option>
                  <option>Domingo</option>
                </select>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Día 2</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>Lunes</option>
                  <option>Martes</option>
                  <option>Miércoles</option>
                  <option>Jueves</option>
                  <option>Viernes</option>
                  <option>Sábado</option>
                  <option>Domingo</option>
                </select>
              </div>
              <!--Ponerlo con un buscador-->
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Horario entrada</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>6:00am</option>
                  <option>7:00am</option>
                  <option>8:00am</option>
                  <option>9:00am</option>
                  <option>10:00am</option>
                  <option>11:00am</option>
                  <option>12:00am</option>
                </select>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Horario salida</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>1:00pm</option>
                  <option>2:00pm</option>
                  <option>3:00pm</option>
                  <option>4:00pm</option>
                  <option>5:00pm</option>
                  <option>6:00pm</option>
                  <option>7:00pm</option>
                  <option>8:00pm</option>
                </select>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Nombre turno</label>
                <input rows="3" class="form-control" placeholder="Ej. Turno Regular 1"/>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Descripcion</label>
                <textarea rows="2" class="form-control" placeholder="Ej. Empleados fijos"></textarea>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Estado</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>
              <div class="col-4 margen">
                <label for="validationCustom03" class="form-label">Asignable</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una opcion</option>
                  <option>Todos</option>
                  <option>Empleados internos</option>
                </select>
              </div>
        </form>
        <button
            class="btn btn-primary"
            routerLink="/"
            >GUARDAR
          </button>
      </div>
    </div>
  </div>
